body {
  background-color: #004643;
}

.name {
  color: #fffffe;
}

.social-icons a {
  color: #fffffe;
  text-decoration: none;
}

.link {
  background-color: #f9bc60;
}

.link a {
  color: #001e1d;
  text-decoration: none;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
