
.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
body {
  background-color: #f8d7da; /* Light pink background color */
  color: #000; /* Black text color */
  font-family: Arial, sans-serif; /* Choose a suitable font */
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #ff69b4; /* Pink color */
}

.social-icons a {
  color: #ff69b4; /* Pink color for links */
  text-decoration: none;
  margin-right: 15px;
}

.social-icons a:hover {
  text-decoration: underline;
}
